<main class="containter">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Hello world</h1>
      <%= Time.now %>
    </div>
    <br/>
    <div>
      ENV['IS_PULL_REQUEST'] => <%= ENV['IS_PULL_REQUEST'].inspect %>
    </div>
    <br/>
    <div>
      pr 5
    </div>
    <br/>
  </div>
</main>

